@use 'variables';

.footer {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .sources {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .footerLink {
      color: variables.$content-color;
      margin: 5px;
    }
  }
}

[data-theme='dark'] {

.footer {
  .sources {
    .footerLink {
      color: variables.$content-color-dark;
    }
  }
}
}