@import 'variables';

:root {
  background-color: $background-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $title-color;
  }

  p, li {
    color: $content-color;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: $background-color-dark;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $title-color-dark;
    }

    p,li {
      color: $content-color-dark;
    }
  }
}