@use 'variables';

.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 200px;
  .mainTitle {
    margin-top: 10px;
    font-size: 2.5em;
  }

  .linkContainer {
    position: fixed;
    left: 0;
    top: 50px;
    width: 80vw;
    padding: 20px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
    background-color: variables.$background-color;
    transition: transform 0.2s;
    z-index: 30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .linkList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .navLink {
        padding: 10px;
        margin: 5px;
        width: 200px;
        border-radius: 30px;
        filter: drop-shadow(1px 1px 3px rgba($color: #000000, $alpha: 0.5));
        background: linear-gradient(30deg, variables.$accent-color-primary, variables.$accent-color-secondary);

        &:hover {
          background: linear-gradient(30deg, variables.$accent-color-secondary, variables.$accent-color-primary);

        }

        .listElement {
          text-decoration: none;
          color: variables.$content-color-dark;
          font-weight: bold;
        }
      }
    }
    .toggleSlide {
      position: relative;
      width: 40px;
      height: 20px;
      border-radius: 10px;
      background-color: rgba($color: #000000, $alpha: 0.5);
      cursor: pointer;
      .themeToggle {
        position: absolute;
        left: 0;
        background-color: variables.$background-color-dark;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: left 0.2s;
      }
    }

    .toggleButton {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      right: -30px;
      background-color: rgba($color: #000000, $alpha: 0.5);
      border-radius: 0 5px 5px 0;
    }
  }

  .isHidden {
    transform: translateX(-100%);
  }
}

[data-theme-ui='dark'] {
  .navbar {
    .linkContainer {
      background-color: variables.$background-color-dark;

      .navLink {
        .listElement {
          color: variables.$content-color-dark;
        }
      }
      .toggleSlide {
        .themeToggle {
          left: 20px;
          background-color: variables.$background-color;
        }
      }

      .toggleButton {
        background-color: rgba($color: #000000, $alpha: 0.5);
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .navbar {
    position: unset;
    display: flex;
    flex-direction: column;
    padding: 0;

    .mainTitle {
      font-size: 3.2em;
    }

    .linkContainer {
      position: unset;
      width: unset;
      padding: 0;
      border-bottom: unset;
      background-color: variables.$background-color;
      flex-direction: row;

      .linkList {
        flex-direction: row;

        .navLink {
          .listElement {
            text-decoration: none;
            color: variables.$content-color-dark;
            font-weight: bold;
          }
        }
      }

      .toggleButton {
        display: none;
      }
    }

    .isHidden {
      transform: translateX(0);
    }
  }
}