@use 'mixins';
@use 'variables';

.main {
  margin: auto;
  max-width:100%;

  .mainTitle {

    font-size: 3em;
    margin-bottom: 30px;
  }
  .presentationHomepage {
    width: 700px;
    max-width: 90%;
    margin: auto;
    text-align: justify;
    font-size: 1.2em;
  }

  .focus {
    .focusTitle {
      font-size: 2.5em;
      margin: 30px;
    }

    .focusDiv {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;

      .focusSubdiv {
        width: 600px;
        max-width: 100%;
        min-height: 500px;

        .focusSubtitle {
          font-size: 2.1em;
          margin: 20px 0 20px 0;
        }

        .majorElementDiv {
          background-color: rgba($color: #000000, $alpha: 0.1);
          border-radius: 20px;
          padding: 20px;
          margin: 10px;

          .majorElementTitle {
            font-size: 1.9em;
            margin: 0 0 20px 0;
          }

          .majorElementDescription {
            text-align: justify;
            margin: auto;
            height: 20px;
            width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }


}

// [data-theme='dark'] {
// }

@media screen and (min-width: 960px) {
  .main {
    margin: auto;
    max-width:100%;
  
    .mainTitle {
  
      font-size: 3em;
      margin-bottom: 30px;
    }
  
    .focus {
      .focusTitle {
        font-size: 2.5em;
        margin: 30px;
      }
  
      .focusDiv {
        flex-direction: row;
  
        .focusSubdiv {
          max-width: 500px;
  

          
        }
      }
    }
  
  
  }
}