// Light color scheme
$title-color: hsla(202, 52%, 17%, 1);
$content-color: hsla(204, 42%, 27%, 1);
$background-color: hsla(84, 14%, 93%, 1);

// Dark color scheme
$background-color-dark: hsla(202, 52%, 17%, 1);
$title-color-dark: hsla(79, 57%, 95%, 1);
$content-color-dark: hsla(84, 14%, 93%, 1);

// Button, links, accentuation color scheme
$accent-color-primary: rgba(255, 120, 79, 1);
$accent-color-secondary: rgba(255, 116, 119, 1);

// Default features
$border-radius: 5px;
$card-margin: 20px;